@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* top bar section */
.t4s-topbar .section-inner {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}
.t4s-topbar .section-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 31px 0;
  min-height: 116px;
}
.t4s-topbar .topbar-content {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.t4s-topbar #countdown {
  color: #fff;
  display: flex;
  gap: 35px;
}
.t4s-topbar #countdown div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.t4s-topbar #countdown div span:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.01em;
  background: linear-gradient(
    97.26deg,
    #c91f28 -49.23%,
    #dad44c 24.61%,
    #8dc53d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.t4s-topbar #countdown div span:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.t4s-topbar #topbar_close {
  position: absolute;
  top: 50%;
  right: 52px;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* header */
.t4s-header {
  padding-top: 48px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
}
.t4s-header ul {
  list-style: none;
}
.t4s-header ul li a {
  padding: 0 16px;
}
.t4s-header .nav-link-item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}
.t4s-header .nav-list {
  display: none;
}
.t4s-header .nav-link-item a:hover {
  color: #c91f28;
}
.t4s-header .badge-new,
.t4s-header .badge-hot {
  top: 0;
  right: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.t4s-header .btn {
  font-family: var(--ff-1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  padding: 16px 32px;
  border-radius: 54px;
}
/* main */
/* banner */
main .banner {
  height: 970px;
  position: relative;
  overflow-y: hidden;
  pointer-events: none;
  margin-bottom: 100px;
  background-color: #fbfffa;
}
main .banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #fff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
  z-index: 1;
  pointer-events: none;
}
main .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    #ffffff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
  pointer-events: none;
}

.banner .banner-content {
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.banner-content .banner-heading {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.015em;
  color: #293341;
  margin-bottom: 24px;
}
.banner-heading p {
  font-weight: 600;
}
.banner-heading #typewriter-text {
  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #dad44c 49.48%,
    #8dc53d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.banner-heading #typewriter-suffix {
  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #dad44c 49.48%,
    #8dc53d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 5px;
  overflow: hidden;
  display: inline-flex;
  margin-left: 8px;
}
.banner-content .row > p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #616161;
  margin-bottom: 48px;
}

.banner-content .power-lite {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #ffffff;
  /* Drop Shadow */
  box-shadow: 0px 4px 16px rgba(181, 200, 176, 0.35);
  border-radius: 999px;
  width: fit-content;
}
.banner-content .group-btn {
  margin-bottom: 100px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.banner-content .power-content {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #293341;
}
.power-content span:nth-child(2) {
  font-weight: 500;
}
/* coach */
.coach {
  margin-bottom: 60px;
}
.coach .section-inner h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */

  letter-spacing: -0.01em;

  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #c6c041 49.48%,
    #8dc53d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.coach .section-inner p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  letter-spacing: -0.01em;
  /* Common/Secondary */
  color: #616161;
  margin-bottom: 48px;
}
.coach .btn {
  padding: 17px 32px;
  border: none !important;
}

.coach .comerce-coach {
  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #dad44c 49.48%,
    #8dc53d 100%
  );

  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  padding: 2px;
  min-height: 250px;
}
.coach .comerce-coach .item-wrap {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background-color: #fff;
}

.coach .col-text .item-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* reason */
.reason .section-inner {
  margin-bottom: 200px;
}
.reason .section-tophead {
  margin-bottom: 100px;
}
.reason .section-subheading {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}
.reason .section-heading {
  font-weight: 500;
  line-height: 52px;
}
.reason .section-heading span {
  font-weight: 600;
  color: #c91f28;
}

.reason .col-inner .col-img {
  margin-bottom: 32px;
}
.reason .col-inner .col-content {
  padding: 0 40px;
}
.reason .col-inner .content-head {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  color: #293341;
}
.reason .col-inner .content-des {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 0;
  color: #616161;
}
/* isotope */
.isotope {
  background-color: #fbfffa;
  position: relative;
}
.isotope::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
  content: "";
  background: linear-gradient(
    180deg,
    #ffffff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
  z-index: 1;
}
.isotope::after {
  position: absolute;
  height: 750px;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background: linear-gradient(
    180deg,
    #ffffff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 1;
}
.isotope .section-inner {
  position: relative;
  z-index: 9;
  padding-bottom: 300px;
}
.isotope .section-tophead .demo_count {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  margin: 0 auto;
  width: fit-content;
  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #dad44c 49.48%,
    #8dc53d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  margin-bottom: 13px;
}
.isotope .section-heading {
  margin-bottom: 24px;
}
.isotope .section-subheading {
  margin-bottom: 72px;
}
.isotope-wrap ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.isotope-wrap ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 40px;
  border: 1px solid #c91f28;
  border-radius: 39px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #c91f28;
}
.isotope-wrap ul li {
  margin: 0 8px;
}
.isotope-wrap ul a.is-checked {
  background: #c91f28;
  border-color: #c91f28;
  color: #fff;
}
.isotope-wrap ul a:hover {
  background: #c91f28;
  border-color: #c91f28;
  color: #fff;
}
.isotope .section-tophead {
  margin-bottom: 100px;
}
.isotope .isotope-item .item-inner .img-wrap,
.tabs .col-item .item-inner .img-wrap {
  background-color: #fff;
  padding: 16px;
  box-shadow: 0px 4px 32px rgba(181, 200, 176, 0.16);
  margin-bottom: 32px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.isotope .item-title,
.tabs .item-title {
  padding: 0 15px;
}
.isotope .isotope-item .item-title a,
.tabs .col-item .item-title a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #293341;
  position: relative;
}
.isotope .isotope-item .item-title a:hover,
.tabs .col-item .item-title a:hover {
  color: #c91f28;
}
.isotope .isotope-item .title-badge {
  position: absolute;
  top: 0;
  right: -4px;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 6px;
  border-radius: 39px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #ffffff;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.isotope .isotope-item .title-badge.new {
  background: #8dc53d;
}
.isotope .isotope-item .title-badge.hot {
  background: #c91f28;
}
.isotope .img-wrap:hover,
.tabs .img-wrap:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
/* ecomposer */

.ecomposer .section-inner {
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  margin-bottom: 207px;
}
.ecomposer .section-inner {
  padding-top: 173px;
  padding-bottom: 133px;
}
.ecomposer .col-img .img-wrap {
  padding: 18px;
  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #dad44c 49.48%,
    #8dc53d 100%
  );
  overflow: hidden;
}
.ecomposer .ec-subtitle {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #8dc53d;
  margin-bottom: 16px;
}
.ecomposer .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.01em;
  color: #293341;
  margin-bottom: 24px;
}
.ecomposer .title span {
  color: #01b5d1;
}
.ecomposer .star-group {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.ecomposer .star-group .five-star {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #616161;
  margin-left: 8px;
}
.ecomposer .des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 48px;
  letter-spacing: -0.01em;
  color: #616161;
}
.ecomposer .des a {
  color: #616161;
  text-decoration: underline;
}
.ecomposer .des a:hover {
  color: #c91f28;
}
.ecomposer .form-register {
  gap: 15px;
}
.ecomposer .form-register input {
  padding: 14px 24px;
  border: 1px solid #e5e5e5;
  border-radius: 54px;
  width: 318px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #a0a0a0;
}
.ecomposer .form-register .btn {
  padding: 16px 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
/* tabs product */
.tabs {
  background-color: #fbfffa;
  position: relative;
}
.tabs::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
  content: "";
  background: linear-gradient(
    180deg,
    #ffffff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
  z-index: 1;
}
.tabs::after {
  position: absolute;
  height: 750px;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background: linear-gradient(
    180deg,
    #ffffff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 1;
}
.tabs .section-inner {
  position: relative;
  z-index: 9;
  padding-bottom: 200px;
}
.tabs .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.01em;

  color: #8dc53d;
  margin-bottom: 16px;
}
.tabs .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #293341;
  margin-bottom: 17px;
}
.tabs .des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;
  letter-spacing: -0.01em;

  /* Common/Secondary */

  color: #616161;
  margin-bottom: 72px;
}
.tabs .tabs-group {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  margin: 0;
  text-align: center;
  list-style: none;
}
.tabs .tabs-group a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  border: 1px solid #c91f28;
  border-radius: 39px;
  color: #c91f28;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.01em;
}
.tabs .tabs-group li {
  margin: 0 8px;
}
.tabs .tabs-group {
  justify-content: center;
  margin-bottom: 100px;
}
.tabs .tabs-group a.is-checked {
  color: #fff;
  background-color: #c91f28;
  border-color: #c91f28;
}
.tabs .tabs-group a:hover {
  color: #fff;
  background-color: #c91f28;
  border-color: #c91f28;
}
.tabs .tabs-content {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.tabs .tabs-content .col-item {
  transition: 0.3s ease-in-out;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transform-origin: center center;
}
.tabs .tabs-content.active {
  transition-delay: 0.3s;
  position: relative;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.tabs .tabs-content.active .col-item {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* masonry */
.masonry-isotope .section-inner {
  margin-bottom: 190px;
}
.masonry-isotope .col-inner {
  --bs-aspect-ratio: calc(100% / calc(var(--ratio)));
}
.masonry-isotope .masonry-item:not(.masonry-3) .col-inner {
  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #dad44c 49.48%,
    #8dc53d 100%
  );
  padding: 1px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  overflow: hidden;
}
.masonry-isotope .col-inner .col-wrap {
  background-color: #fff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  overflow: hidden;
}
.masonry-isotope .col-content h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */

  letter-spacing: -0.01em;

  color: #293341;
  margin-bottom: 24px;
}
.masonry-isotope .col-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
  /* or 157% */

  letter-spacing: -0.01em;

  /* Common/Secondary */

  color: #616161;
}
.masonry-isotope .col-content {
  flex: 0 1 auto;
}
.masonry-isotope .img-wrap {
  flex: 1 0 auto;
}
.masonry-isotope .col-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.masonry-isotope .masonry-1 .img-wrap {
  width: 278px;
}
.masonry-isotope .masonry-1 .col-wrap {
  gap: 35px;
}
.masonry-isotope .masonry-2 .col-wrap {
  flex-direction: column-reverse;
  gap: 40px;
  text-align: center;
}
.masonry-isotope .masonry-2 .img-wrap {
  width: 440px;
}
.masonry-isotope .masonry-3 .col-wrap {
  gap: 60px;
  flex-direction: column-reverse;
  box-shadow: 0px 4px 32px rgba(181, 200, 176, 0.4);
  border-radius: 24px;
  text-align: center;
}
.masonry-isotope .masonry-3 .img-wrap {
  width: 442px;
}
.masonry-isotope .masonry-4 .col-wrap {
  padding: 60px 0 60px 60px;
  justify-content: space-between;
  gap: 60px;
}
.masonry-isotope .masonry-4 .img-wrap {
  width: 285px;
}
.masonry-isotope .masonry-5 .col-wrap {
  padding-right: 40px;
}
.masonry-isotope .masonry-5 .img-wrap {
  width: 318px;
}
.masonry-isotope .masonry-6 .col-wrap {
  padding-top: 12px;
  flex-direction: column-reverse;
  gap: 40px;
  text-align: center;
}
.masonry-isotope .masonry-6 .img-wrap {
  width: 507px;
}
.masonry-isotope .masonry-7 .col-wrap {
  padding-top: 103px;
  flex-direction: column-reverse;
  gap: 71px;
  text-align: center;
}
.masonry-isotope .masonry-7 .img-wrap {
  width: 510px;
}
.masonry-isotope .masonry-8 .col-wrap {
  padding: 78px 60px;
  gap: 25px;
}
.masonry-isotope .masonry-8 .img-wrap {
  width: 288px;
}
/* banner slide 2 */
.banner-slide-2 .slide_count {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  line-height: 1;

  text-align: center;
  letter-spacing: -0.02em;

  /* Linear */

  background: linear-gradient(
    97.94deg,
    #c91f28 0%,
    #dad44c 49.48%,
    #8dc53d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  width: fit-content;
  margin: 0 auto;
  margin-block-end: 8px;
}
.banner-slide-2 .section-heading {
  margin-bottom: 24px;
}
.banner-slide-2 .section-subheading {
  margin-bottom: 100px;
}
.banner-slide-2 .section-inner {
  padding-bottom: 360px;
  z-index: 9;
  position: relative;
}
.banner-slide-2 {
  position: relative;
  background-color: #fbfffa;
}
.banner-slide-2::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #ffffff 2%, rgba(255, 255, 255, 0) 10%);
  z-index: 10;
}
.banner-slide-2::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, #ffffff 2%, rgba(255, 255, 255, 0) 10%);
  z-index: 10;
}
.banner-slide-2 .section-wrap::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #ffffff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
}
.banner-slide-2 .section-wrap::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    360deg,
    #ffffff 8.87%,
    rgba(255, 255, 255, 0) 23.82%
  );
}
/* slider */

.slider {
  padding-bottom: 40px;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}
.slider .swiper-slide .slide-img {
  --bs-aspect-ratio: calc(100% / calc(var(--ratio)));
}
.slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.slider .swiper-wrapper .swiper-slide {
  max-width: fit-content;
  filter: drop-shadow(0px 4px 16px rgba(181, 200, 176, 0.35));
  border-radius: 8px;
  overflow: hidden;
  margin: 0 20px;
}
/* partner */
.partner .section-inner {
  padding-bottom: 200px;
}
.partner .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.01em;

  color: #8dc53d;
  margin-bottom: 16px;
}
.partner .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #293341;
  margin-bottom: 90px;
}
.partner .title span {
  color: #c91f28;
}
.partner .partner-inner .img {
  margin-bottom: 15px;
}

.partner .partner-content h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #293341;
  margin: 0 auto;
  margin-bottom: 16px;
  position: relative;
  width: fit-content;
}
.partner .partner-content h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #c91f28;
  margin-bottom: 0;
}
.partner .partner-content h4 span {
  position: absolute;
  top: 0;
  right: -10px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  width: max-content;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 6px;
  background: #c91f28;
  border-radius: 39px;
}
/* footer and header style */
.show-style .section-inner {
  background: #fbfffa;
  padding: 200px 0;
}
.show-style img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show-style .img {
  filter: drop-shadow(1.03651px 3.10952px 12.4381px rgba(0, 0, 0, 0.15));
}
.show-style .img:not(:last-child) {
  margin-bottom: 48px;
}
.show-style .section-tophead {
  margin-bottom: 100px;
}
.show-style .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #293341;
  margin-bottom: 0;
}
/* video popup */
.video-popup .section-inner {
  padding: 200px 0;
}
.video-popup .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;

  text-align: center;
  letter-spacing: -0.01em;
  color: #293341;
  margin-bottom: 100px;
}
.video-popup .title span {
  color: #f66d6e;
}
.video-popup .col-inner {
  padding: 16px 16px 60px;
}
.video-popup .col-inner .img_thumb {
  margin-bottom: 32px;
}
.video-popup .img_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-popup .img_thumb .play-btn-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.video-popup .img_thumb .icon {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #c91f28;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  font-size: 20px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.video-popup .img_thumb .icon svg {
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}
.video-popup .img_thumb .play-btn-popup:hover {
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.5);
}
.video-popup .img_thumb .icon:hover {
  background-color: #c91f28;
  color: #fff;
}
.video-popup .col-content {
  text-align: center;
}
.video-popup .col-content a {
  font-family: "Poppins";
  font-style: normal;
  display: inline-flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #293341;
  margin-bottom: 16px;
}
.video-popup .col-content a:hover {
  color: #c91f28;
}
.video-popup .col-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;
  letter-spacing: -0.01em;

  /* Common/Secondary */

  color: #616161;
  margin-bottom: 0;
}
.faq .section-inner {
  padding: 200px 0;
  background-color: #fbfffa;
}
.faq .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;

  text-align: center;
  letter-spacing: -0.01em;

  color: #293341;
  margin-bottom: 44px;
}
.faq .faq-item:first-child .faq-content {
  display: block;
}

.faq .faq-content {
  display: none;
}
.faq .faq-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  align-items: center;
  margin-top: 48px;
}
.faq .faq-item {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.faq .faq-item.active {
  margin-top: 48px;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(181, 200, 176, 0.35);
}
.faq .faq-item {
  padding: 0 48px;
}
.faq .faq-item .faq-content {
  padding-top: 32px;
  padding-bottom: 72px;
  padding-left: 48px;
  padding-right: 20px;
}
.faq .faq-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: justify;
  letter-spacing: -0.01em;

  /* Common/Secondary */

  color: #616161;
  margin-bottom: 0;
}
.faq .faq-button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.faq .faq-button .arrow svg {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.faq .faq-button.active .arrow svg {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.faq .box-1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.01em;
  text-align: left;

  color: #293341;
}
.faq .box-1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.faq .box-1 svg {
  flex: 1 0 auto;
}
.hero_image .section-inner {
  padding: 200px 0;
}
.hero_image .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  /* or 129% */

  text-align: center;
  letter-spacing: -0.015em;

  color: #ffffff;
  margin-bottom: 48px;
}
.hero_image .check-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hero_image .check-group {
  gap: 72px;
  margin-bottom: 72px;
}
.hero_image .group-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.hero_image .btn-default {
  border: none !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 64px;
  gap: 16px;
  background: #c91f28;
  border-radius: 54px;
}
.hero_image .btn-default .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.01em;

  color: #ffffff;
}
.hero_image .btn-default .wrap {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.hero_image .cost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.hero_image .cost del {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: -0.01em;
  text-decoration-line: line-through;

  color: #ffffff;
}
.hero_image .cost span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}
.hero_image .check-item span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.hero_image .btn-outline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 64px;
  border: 2px solid #c91f28;
  border-radius: 54px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: -0.01em;

  color: #c91f28;
}
@media (min-width: 1400px) {
  .coach .col-text .item-inner {
    padding-left: 40px;
  }
}
@media (min-width: 1600px) {
  .coach .img {
    margin-left: -70px;
  }
  .coach .item-img .item-inner {
    padding-left: 70px;
  }
  .coach .col-text .item-inner {
    padding-left: 70px;
  }
  .coach {
    margin-bottom: 200px;
  }
}
