@media (max-width: 1200px) {
  br {
    display: none !important;
  }
  .t4s-topbar .section-wrap {
    gap: 15px;
    padding: 15px 32px;
    justify-content: center;
  }
  .t4s-topbar #countdown div span:nth-child(1) {
    font-size: 24px;
    line-height: 30px;
  }
  .t4s-topbar #topbar_close {
    right: 15px;
  }
  .t4s-header {
    padding-top: 20px;
  }
  .t4s-header .logo img {
    width: 150px;
  }
  main .banner {
    height: 750px;
    margin-bottom: 40px;
  }
  .banner br {
    display: none;
  }
  .power-lite svg {
    width: 32px;
    height: 32px;
  }
  .banner-content .power-lite {
    padding: 10px 20px;
    text-align: left;
  }
  .banner-content .row > p {
    margin-bottom: 25px;
  }
  .banner-content .group-btn {
    margin-bottom: 30px;
  }
  .coach .col-text p br {
    display: none;
  }
  .coach .section-inner h3 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .coach .section-inner p {
    margin-bottom: 15px;
  }
  .coach {
    margin-bottom: 40px;
  }
  .reason .col-inner .col-img {
    margin-bottom: 15px;
  }
  .reason .col-inner .col-content {
    padding: 0 15px;
  }
  .reason .section-tophead {
    margin-bottom: 30px;
  }
  .reason .section-inner {
    margin-bottom: 60px;
  }
  .coach .comerce-coach .item-wrap {
    overflow: hidden;
  }
  .isotope .section-tophead .demo_count {
    font-size: 70px;
  }
  .ecomposer .section-inner {
    margin-bottom: 60px;
  }
}
@media (max-width: 1023px) {
  .reason .col-inner .content-head {
    font-size: 20px;
  }
  .isotope-wrap ul a {
    padding: 10px 25px;
    line-height: 1;
  }
  .isotope-wrap ul li {
    margin: 0 5px;
  }
  .isotope .section-tophead {
    margin-bottom: 50px;
  }
  .isotope .section-subheading {
    margin-bottom: 40px;
  }
  .isotope .isotope-item .item-title a,
  .tabs .col-item .item-title a {
    font-size: 16px;
  }
  .isotope .isotope-item .item-inner .img-wrap,
  .tabs .col-item .item-inner .img-wrap {
    margin-bottom: 15px;
  }
  .isotope .section-inner,
  .tabs .section-inner {
    padding-bottom: 60px;
  }
  .ecomposer .section-inner {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .ecomposer .des {
    margin-bottom: 20px;
  }
  .ecomposer .title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 36px;
  }
  .ecomposer .star-group {
    margin-bottom: 15px;
  }
  .tabs .tabs-group a {
    padding: 10px 25px;
    width: max-content;
  }
  .tabs .des {
    margin-bottom: 25px;
  }
  .tabs .subtitle {
    margin-bottom: 5px;
  }
  .tabs .title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 36px;
  }
  .tabs .tabs-group {
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .t4s-header {
    background-color: #fff;
  }
  .t4s-header .nav-list {
    background: #fff;
    overflow: hidden;
    z-index: 3;
  }
  .t4s-header .nav-list ul {
    flex-direction: column;
    gap: 20px;
  }
  .t4s-header .nav-list {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .t4s-header ul li a {
    padding-left: 0;
  }
  .banner .banner-content {
    z-index: 2;
  }
  .banner .banner-content .banner-heading {
    font-size: 30px;
    line-height: 36px;
  }

  .banner .section-inner::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 0;
  }
}
@media (max-width: 767px) {
  .tabs .tabs-group {
    justify-content: start;
    margin-bottom: 40px;
    overflow-x: scroll;
  }
  .isotope .section-heading {
    margin-bottom: 15px;
  }
  .banner .banner-content .banner-heading {
    font-size: 24px;
    line-height: 30px;
  }
  .isotope-wrap ul {
    overflow-x: scroll;
    padding: 0 20px;
    justify-content: flex-start;
  }
  main .banner {
    height: 600px;
  }
  .coach .section-inner p {
    display: none;
  }
  .coach .comerce-coach {
    min-height: 150px;
  }

  .ecomposer .form-register input {
    width: 60%;
  }
  .ecomposer .form-register .btn {
    width: 35%;
  }
  .isotope .section-inner,
  .tabs .section-inner {
    padding-bottom: 40px;
  }
}
@media (max-width: 525px) {
  .ecomposer .form-register input {
    width: 100%;
  }
  .ecomposer .form-register .btn {
    width: 100%;
  }
  .t4s-topbar #countdown div span:nth-child(1) {
    font-size: 16px;
    line-height: 19px;
  }
  .t4s-topbar .section-wrap {
    padding: 10px 15px;
  }
  .t4s-topbar .topbar-content .tb-text {
    font-size: 14px;
    line-height: 17px;
  }
  .t4s-topbar .topbar-content .tb-svg {
    display: none;
  }
  .banner-content .banner-heading {
    font-size: 24px;
    line-height: 30px;
  }
  .coach .section-inner h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .t4s-header .btn {
    display: none;
  }
}
@media (max-width: 350px) {
}
